*,
::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 280px;
  width: 800px;
  border-radius: 10px;
  background: #F5C4D1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
}

.nav--list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item {
  position: relative;
  width: 280px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 50px;
  border: 3px solid #39322D;
  overflow: hidden;
}

.item a {
  font-size: 24px;
  text-transform: uppercase;
  color: #39322D;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

.item:hover a {
  color: #D8B1B9;
}

.item:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(30deg);
  background: #39322D;
  transition: width 400ms ease;
}

.item:hover:before {
  width: 120%;
}

.item:nth-child(2):before {
  transform: skew(-20deg);
}

.item:nth-child(3):before {
  transform: skew(0deg);
}

.item:nth-child(4):before {
  width: 180px;
  height: 0%;
  bottom: 0px;
  transition: height 400ms ease;
}

.item:nth-child(4):hover:before {
  height: 100%;
}
